@use '../../styles/dimensions.module.scss' as dimens;
@use '../../styles/mixins.scss';

.technologies {
    @include mixins.large-screen(70rem) {
        padding: 0 dimens.$padding-page;
        width: 70rem;
    }
}

.techStackList {
    @include mixins.glassy;
    padding: 0.7rem dimens.$padding-page dimens.$padding-page dimens.$padding-page;
}

.techStack {
    @include mixins.medium-screen {
        row-gap: 2.5rem;
    }
}