@use '../../styles/colors.module.scss';
@use '../../styles/mixins.scss';

.technologies {
    height: 80vh;
    display: flex;
    flex-direction: column;

    @include mixins.large-screen {
        flex-direction: row;
        column-gap: 0.5rem;
        justify-content: space-between;
    }
}

.type {}


.techStack {
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 0.2rem;
    row-gap: 0.2rem;
}

.tech {
    background-color: colors.$color-technologies-card-background;
    color: colors.$color-font-light;
    padding: 0.6rem;
}