@use '../../../../../../styles/colors.module.scss';
@use '../../../../../../styles/mixins.scss';

.title {
    position: relative;
    display: block;
    font-size: medium;
    padding: 1rem;
    @include mixins.glassy(colors.$color-primary)
}

.input:checked+label:hover,
.input:checked+div>label {
    box-shadow: 0 1px 4px colors.$color-project-details-accordion-item-box-shadow;
    font-weight: 600;
}

.input {
    display: none;
}

.item {
    position: relative;
}

.chevron {
    position: absolute;
    right: 0.5rem;
    top: 30%;
    fill: colors.$color-project-details-accordion-item-chevron-fill;
    pointer-events: none;
}

.chevronUp {
    @extend .chevron;
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.chevronDown {
    @extend .chevron;
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.content {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    @include mixins.glassy(colors.$color-project-details-accordion-item-content-background);
}

.childWrapper {
    padding: 0.5rem;
}

.input:checked~.content {
    transition: height 0.5s ease-in-out;
}