@use '../../styles/dimensions.module.scss' as dimens;
@use '../../styles/mixins.scss';

.testimonials {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-bottom: dimens.$padding-page;

    @include mixins.medium-screen {
        flex-direction: row;
        padding: dimens.$padding-page;
        justify-content: space-between;
    }
}