@import '../../styles/colors.module.scss';
@import '../../styles/mixins.scss';

$animationTime: 1s;
$animationMoveLeft: moveLeft $animationTime forwards;
$animationMoveLeftLargeScreen: moveLeftLargeScreen $animationTime forwards;

.headline {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: $color-primary;
    box-shadow: 5px 5px 50px $color-primary-light;
    padding: 1rem;

    @include large-screen {
        row-gap: 3rem;
        padding: 6rem 6rem 3rem 6rem;
    }
}

.imageAndText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;

    @include large-screen {
        column-gap: 8rem;
    }
}

.portrait {
    width: 8rem;
    height: auto;
    border-radius: 50%;
    animation: moveRight $animationTime;

    @include large-screen {
        width: 18rem;
    }
}

.headlineText {
    color: $color-secondary;
    margin: 0;
    font-family: "Antonio";
    font-weight: 600;
    font-size: 1.2rem;

    @include large-screen {
        font-size: 4rem;
    }
}

.firstHeadlineText {
    @extend .headlineText;
    color: $color-accent;
    animation: $animationMoveLeft;

    @include large-screen {
        animation: $animationMoveLeftLargeScreen;
    }

}

.secondHeadlineText {
    @extend .headlineText;
    animation: moveRight $animationTime;
}

.thirdHeadlineText {
    @extend .headlineText;
    animation: $animationMoveLeft;

    @include large-screen {
        animation: $animationMoveLeftLargeScreen;
    }
}

.aboutMe {
    padding: 1rem;
    width: 25rem;
    align-self: end;
}

@keyframes moveRight {
    0% {
        transform: translateX(-5rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(2rem);
    }

    100% {
        transform: translateX(-1.2rem);
    }
}

@keyframes moveLeftLargeScreen {
    0% {
        transform: translateX(2rem);
    }

    100% {
        transform: translateX(-3rem);
    }
}