@import '../../styles/colors.module.scss';
@import '../../styles/mixins.scss';

$animationTime: 1s;
$animationMoveLeftOuterElement: moveLeftOuterElement $animationTime forwards;

.aboutMe {
    background-color: $color-primary;
    box-shadow: 5px 5px 50px $color-primary-light;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    column-gap: 2rem;

    @include large-screen {
        padding: 6rem;
        column-gap: 8rem;
    }
}

.headline {
    color: $color-secondary;
    margin: 0;
    font-family: "Antonio";
    font-weight: 600;
    font-size: 1.2rem;

    @include large-screen {
        font-size: 4rem;
    }
}

.firstHeadline {
    @extend .headline;
    color: $color-accent;
    animation: $animationMoveLeftOuterElement;
}

.secondHeadline {
    @extend .headline;
    animation: moveLeftMiddleElement $animationTime;
}

.thirdHeadline {
    @extend .headline;
    animation: $animationMoveLeftOuterElement;

}

.portrait {
    width: 8rem;
    height: auto;
    border-radius: 50%;
    animation: moveRight $animationTime;

    @include large-screen {
        width: 18rem;
    }
}

@keyframes moveRight {
    0% {
        // transform: translateX(-1rem);
        transform: translateX(-5rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveLeftMiddleElement {
    0% {
        // transform: translateX(1rem);
        transform: translateX(-5rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveLeftOuterElement {
    0% {
        // transform: translateX(1rem);
        transform: translateX(2rem);
    }

    100% {
        // transform: translateX(-1rem);
        transform: translateX(-3rem);
    }
}