@import '../../styles/colors.module.scss';
@import '../../styles/mixins.scss';

$animationTime: 1s;
$animationMoveLeft: moveLeft $animationTime forwards;
$animationMoveLeftLargeScreen: moveLeftLargeScreen $animationTime forwards;

.headline {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 3rem;
    background-color: $color-primary;
    box-shadow: 5px 5px 50px $color-primary-light;
    padding: 1rem;

    @include large-screen {
        row-gap: 3rem;
        padding: 6rem 6rem 3rem 6rem;
    }
}

.portrait {
    width: 8rem;
    height: auto;
    border-radius: 50%;
    animation: moveRight $animationTime;

    @include large-screen {
        width: 18rem;
        animation: moveRightLargeScreenPortrait $animationTime forwards;
    }
}

.headlineText {
    color: $color-secondary;
    margin: 0;
    font-family: "Antonio";
    font-weight: 600;
    font-size: 1.2rem;

    @include large-screen {
        font-size: 4rem;
    }
}

.firstHeadlineText {
    @extend .headlineText;
    color: $color-accent;
    animation: $animationMoveLeft;

    @include large-screen {
        animation: $animationMoveLeftLargeScreen;
    }

}

.secondHeadlineText {
    @extend .headlineText;
    animation: moveRight $animationTime;

    @include large-screen {
        animation: moveRightLargeScreenHeadline $animationTime forwards;
    }
}

.thirdHeadlineText {
    @extend .headlineText;
    animation: $animationMoveLeft;

    @include large-screen {
        animation: $animationMoveLeftLargeScreen;
    }
}

.contactAndAboutMe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    grid-column-start: 2;
    padding: 1rem;
}

.contactMe {
    padding: 0.5rem 1rem;
    background-color: $color-accent;
    font-size: 1.5rem;
    // font-family: "Antonio";
    font-weight: 600;
    // border-style: solid;
    border-style: none;
    border-color: $color-accent-dark;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.contactMe>a {
    color: $color-secondary;
    text-decoration: none;
}

.aboutMe {
    align-self: end;

    @include medium-screen {
        width: 25rem;
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-1rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(2rem);
    }

    100% {
        transform: translateX(-1.2rem);
    }
}

@keyframes moveRightLargeScreenPortrait {
    0% {
        transform: translateX(-5rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveRightLargeScreenHeadline {
    0% {
        transform: translateX(-3rem);
    }

    100% {
        transform: translateX(2rem);
    }
}

@keyframes moveLeftLargeScreen {
    0% {
        transform: translateX(3rem);
    }

    100% {
        transform: translateX(0);
    }
}