@use '../../../styles/mixins.scss';

.project {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    @include mixins.glassy;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Antonio";
}

.title {
    margin: 0;
}

.date {
    font-size: x-large;
    font-weight: 600;
}

.goal {
    font-size: large;
    font-weight: 600;
}

.images{
    display: flex;
    flex-direction: row;
}

.image{
    width: 50rem;
    height: auto;
}

.projectDetails{
    margin-top: 2rem;
    width: 50rem;
}