@use '../../../styles/dimensions.module.scss' as dimens;
@use '../../../styles/mixins.scss';

.projects {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @include mixins.large-screen {
        padding: 0 dimens.$padding-page;
    }
}