@use '../../../../styles/colors.module.scss';
@use '../../../../styles/components.scss';

.customer {
    display: flex;
    flex-direction: row;
    color: colors.$color-font;
    column-gap: 1rem;
    align-items: center;
}

.logo {
    // width: 6.4rem;
    width: 3.4rem;
    margin-left: 1rem;
}

.name {
    @extend .projectDetailsTitle;
}

.noAdditionalInfo {
    margin: 0;
}