@font-face {
    font-family: Antonio;
    font-weight: 100;
    src: url(/static/media/Antonio-Thin.3876047e72a646b629ff.ttf)
}

@font-face {
    font-family: Antonio;
    font-weight: 200;
    src: url(/static/media/Antonio-ExtraLight.2a6078fb242e9943a7e5.ttf)
}

@font-face {
    font-family: Antonio;
    font-weight: 600;
    src: url(/static/media/Antonio-SemiBold.ec35b1c39b576de084a3.ttf)
}

@font-face {
    font-family: Antonio;
    font-weight: 700;
    src: url(/static/media/Antonio-Bold.a914430f3f31fa93c162.ttf)
}

@font-face {
    font-family: SourceSans3;
    font-weight: 200;
    src: url(/static/media/SourceSans3-ExtraLight.d76714a9f28d38e5d5b0.ttf)
}

@font-face {
    font-family: SourceSans3;
    font-style: italic;
    font-weight: 200;
    src: url(/static/media/SourceSans3-ExtraLightItalic.7fb60de589f0b413c44a.ttf)
}

@font-face {
    font-family: SourceSans3;
    font-weight: 300;
    src: url(/static/media/SourceSans3-Light.ce7a0eaafe8f8174fea3.ttf)
}

@font-face {
    font-family: SourceSans3;
    font-style: italic;
    font-weight: 300;
    src: url(/static/media/SourceSans3-LightItalic.56bb2607a507e70d29cc.ttf)
}

@font-face {
    font-family: SourceSans3;
    font-weight: 400;
    src: url(/static/media/SourceSans3-Regular.d5f259bc2699f6304f9a.ttf)
}

@font-face {
    font-family: SourceSans3;
    font-weight: 500;
    src: url(/static/media/SourceSans3-Medium.be9ce6ac3e64725356ae.ttf)
}

@font-face {
    font-family: SourceSans3;
    font-style: italic;
    font-weight: 500;
    src: url(/static/media/SourceSans3-MediumItalic.b61f350fb584fe0c9101.ttf)
}

@font-face {
    font-family: SourceSans3;
    font-weight: 600;
    src: url(/static/media/SourceSans3-SemiBold.d40d72085d560e4061c3.ttf)
}

@font-face {
    font-family: SourceSans3;
    font-style: italic;
    font-weight: 600;
    src: url(/static/media/SourceSans3-SemiBoldItalic.6bdb23066db086749a89.ttf)
}

@font-face {
    font-family: SourceSans3;
    font-weight: 700;
    src: url(/static/media/SourceSans3-Bold.82c3c9bec7b83d9d5846.ttf)
}

@font-face {
    font-family: SourceSans3;
    font-style: italic;
    font-weight: 700;
    src: url(/static/media/SourceSans3-BoldItalic.0d0219a376360b43db87.ttf)
}

@font-face {
    font-family: SourceSans3;
    font-weight: 800;
    src: url(/static/media/SourceSans3-ExtraBold.99f5556c132537157ff5.ttf)
}

@font-face {
    font-family: SourceSans3;
    font-style: italic;
    font-weight: 800;
    src: url(/static/media/SourceSans3-ExtraBoldItalic.8ae04cc5c1cc91a22d6f.ttf)
}

@font-face {
    font-family: SourceSans3;
    font-weight: 900;
    src: url(/static/media/SourceSans3-Black.a6dcbca3a87f98fc778d.ttf)
}

@font-face {
    font-family: SourceSans3;
    font-style: italic;
    font-weight: 900;
    src: url(/static/media/SourceSans3-BlackItalic.55581b6db6dc6e8bbc63.ttf)
}

* {
    box-sizing: border-box
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0
}

body,button {
    font-family: SourceSans3
}

code {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}

h1,h2,h3,h4,h5,h6,label,li,p,span,ul {
    color: #1e6085
}

ul {
    list-style-type: square
}

.Imprint_imprint__KC6Uz {
    color: #1e6085
}

.Imprint_title__9OUMb {
    font-family: Antonio;
    text-align: center
}

.Imprint_attribution__sdyU7 {
    column-gap: .3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem
}

.Tabstrip_tabstrip__xNPtA {
    column-gap: .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: .5rem
}

@media(min-width: 38rem) {
    .Tabstrip_tabstrip__xNPtA {
        column-gap:1.5rem;
        row-gap: 0
    }
}

.TabstripItem_aboutMeIcon__hLqbn {
    height: auto;
    width: 3rem
}

.TabstripItem_detailedEntityIconListTitle__coRPB,.TabstripItem_projectDetailsTitle__BqgWo {
    font-size: medium;
    margin-bottom: .3rem
}

.TabstripItem_detailedEntityIconListTitle__coRPB {
    letter-spacing: .04rem
}

.TabstripItem_detailedEntityIconListIcon__MSGgY {
    color: #1e6085;
    height: auto;
    width: 3rem
}

.TabstripItem_tabstripItem__wa2Kk {
    background-color: #0000;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    position: relative
}

.TabstripItem_captionDarkMode__q5tyk,.TabstripItem_caption__Qz2o9 {
    color: #fdfdf7;
    font-size: large;
    font-weight: 500;
    letter-spacing: .05rem;
    text-transform: uppercase
}

.TabstripItem_captionDarkMode__q5tyk:hover,.TabstripItem_caption__Qz2o9:hover {
    font-weight: 600
}

.TabstripItem_captionDarkMode__q5tyk {
    color: #1e6085
}

.TabstripItem_selectedDarkMode__RydC1,.TabstripItem_selected__w7USJ {
    cursor: auto;
    font-weight: 600
}

.TabstripItem_selectedDarkMode__RydC1:after,.TabstripItem_selected__w7USJ:after {
    background-image: linear-gradient(90deg,#fdfdf7 50%,#fdfdf7);
    bottom: -3px;
    content: "";
    height: .2rem;
    left: 0;
    position: absolute;
    width: 100%
}

.TabstripItem_selectedDarkMode__RydC1:after {
    background-image: linear-gradient(90deg,#1e6085 50%,#1e6085);
    bottom: -3px;
    content: "";
    height: .2rem;
    left: 0;
    position: absolute;
    width: 100%
}

.PlaceholderText_item__NK3sQ {
    display: inline
}

.Footer_footer__UdtSm {
    background-color: #1e6085;
    color: #fdfdf7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5rem 0
}

.Language_language__nYjme {
    color: #fdfdf7
}

.Language_button__5n0kp {
    background-color: #0000;
    border: none;
    color: #fdfdf7;
    cursor: pointer;
    font-size: 1.2rem
}

.Language_button__5n0kp:hover {
    font-weight: 800
}

.Language_button__5n0kp.Language_selected__yd\+8R {
    cursor: auto;
    font-weight: 800
}

.Header_header__mqKaa {
    align-items: center;
    background-color: #1e6085;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10
}

.Header_logo__3PrlD {
    color: #fdfdf7;
    cursor: pointer;
    height: auto;
    width: 3rem
}

@media(min-width: 38rem) {
    .Header_logo__3PrlD {
        width:5rem
    }
}

.Header_navigation__FQsD0 {
    align-self: center;
    color: #fdfdf7;
    grid-column: 1/3;
    grid-row-start: 2;
    justify-self: center;
    letter-spacing: .1rem;
    text-transform: uppercase
}

.Header_language__g6NDN {
    color: #fdfdf7;
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: end
}

.BurgerMenu_burgerMenu__HO9QX {
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow: hidden
}

.BurgerMenu_buttonIcon__uJLbr {
    fill: #fdfdf7;
    height: auto;
    width: 2rem
}

.BurgerMenu_backdrop__4P9cc {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10
}

.BurgerMenu_menuEntries__SEPWW {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #fdfdf7b3;
    height: 80%;
    left: -60vw;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    transition: left .3s ease-in-out;
    width: 60vw;
    z-index: 20
}

.BurgerMenu_menuEntry__r5-PF {
    color: #73216b;
    font-size: large;
    font-weight: 600;
    letter-spacing: .05rem;
    padding: .5rem 0 .5rem 1rem;
    text-transform: uppercase
}

.BurgerMenu_openMenu__ONj56 {
    left: 0;
    transition: left .3s ease-in-out
}

.SimplePage_header__YQWu4 {
    position: static
}

.SimplePage_content__Xb1KL {
    margin: 1rem;
    position: relative
}

@media(min-width: 70rem) {
    .SimplePage_content__Xb1KL {
        margin:1rem auto;
        width: 70rem
    }
}

.AboutMe_aboutMe__MlxDz {
    display: flex;
    flex-direction: column;
    row-gap: 1rem
}

@media(min-width: 70rem) {
    .AboutMe_aboutMe__MlxDz {
        grid-column-gap:1rem;
        column-gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-width: 70rem;
        padding: .5rem 2rem 2rem
    }
}

.Certificates_aboutMeIcon__Qd4yC,.Certificates_icon__QZ-Q6 {
    height: auto;
    width: 3rem
}

.Certificates_detailedEntityIconListTitle__CtQ24,.Certificates_projectDetailsTitle__zFWbn {
    font-size: medium;
    margin-bottom: .3rem
}

.Certificates_detailedEntityIconListTitle__CtQ24 {
    letter-spacing: .04rem
}

.Certificates_detailedEntityIconListIcon__A0\+cz {
    color: #1e6085;
    height: auto;
    width: 3rem
}

.Certificates_content__HfQYc {
    grid-column-gap: .5rem;
    column-gap: .5rem;
    display: grid;
    grid-template-columns: 1fr auto
}

.AboutMeItem_aboutMeItem__PG7P2 {
    align-items: center;
    align-items: start;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #e1e1cb33;
    color: #1e6085;
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem 1rem;
    row-gap: .5rem
}

.AboutMeItem_iconAndTitle__JU4-I {
    align-self: end;
    column-gap: .5rem;
    display: flex;
    flex-direction: row
}

.AboutMeItem_title__6f8By {
    letter-spacing: .2rem;
    text-transform: uppercase
}

.AboutMeItem_content__NpMPA {
    font-weight: 600
}

.Education_aboutMeIcon__46CRL,.Education_icon__ktm1V {
    height: auto;
    width: 3rem
}

.Education_detailedEntityIconListTitle__KVWU5,.Education_projectDetailsTitle__vdOO7 {
    font-size: medium;
    margin-bottom: .3rem
}

.Education_detailedEntityIconListTitle__KVWU5 {
    letter-spacing: .04rem
}

.Education_detailedEntityIconListIcon__JMJ-A {
    color: #1e6085;
    height: auto;
    width: 3rem
}

.Education_content__4GzyS {
    display: flex;
    flex-direction: column
}

.Education_date__GQrT7 {
    font-weight: 500
}

.Education_university__rfqkO {
    font-size: small;
    font-weight: 500;
    text-transform: uppercase
}

.Education_degreeLabel__3vmhd {
    font-style: italic;
    font-weight: 400;
    margin-top: 1rem
}

.Languages_aboutMeIcon__lTiz1,.Languages_icon__R-gdi {
    height: auto;
    width: 3rem
}

.Languages_detailedEntityIconListTitle__1hyfi,.Languages_projectDetailsTitle__i2a\+v {
    font-size: medium;
    margin-bottom: .3rem
}

.Languages_detailedEntityIconListTitle__1hyfi {
    letter-spacing: .04rem
}

.Languages_detailedEntityIconListIcon__h8x0t {
    color: #1e6085;
    height: auto;
    width: 3rem
}

.Languages_content__yug28 {
    grid-column-gap: .5rem;
    column-gap: .5rem;
    display: grid;
    grid-template-columns: 1fr auto
}

.ProfessionalExperience_aboutMeIcon__ANFTD,.ProfessionalExperience_icon__3a0wl {
    height: auto;
    width: 3rem
}

.ProfessionalExperience_detailedEntityIconListTitle__6uwCa,.ProfessionalExperience_projectDetailsTitle__6oS3N {
    font-size: medium;
    margin-bottom: .3rem
}

.ProfessionalExperience_detailedEntityIconListTitle__6uwCa {
    letter-spacing: .04rem
}

.ProfessionalExperience_detailedEntityIconListIcon__jf60h {
    color: #1e6085;
    height: auto;
    width: 3rem
}

.ProfessionalExperience_content__LroK2 {
    align-items: stretch;
    display: flex;
    flex-direction: column
}

.ProfessionalExperience_description__SKwM5 {
    font-weight: 400;
    margin-bottom: .5rem
}

.ProfessionalExperience_years__qrqZV {
    font-weight: 700
}

.ProfessionalExperience_skills__yn5\+f {
    font-weight: 500;
    margin-left: 1rem
}

.ProfessionalExperience_and__pyk54 {
    margin-left: 2rem
}

.ProfessionalExperience_skills__yn5\+f {
    display: flex;
    flex-direction: column
}

.Background_background__xjLNg {
    background: -webkit-gradient(linear,left top,right bottom,from(#1e608580),to(#b4d9ee80)) fixed;
    -webkit-clip-path: url(#spikeShapes);
    clip-path: url(#spikeShapes);
    height: 100%;
    position: absolute;
    width: 100%
}

.Quote_quoteAndAuthor__0-Ce3 {
    display: flex;
    flex-direction: column
}

.Quote_quote__SmJMR {
    column-gap: .5rem;
    display: flex;
    flex-direction: row
}

.Quote_quotationMarkLeft__nCuXs,.Quote_quotationMarkRight__eWlPu,.Quote_quotationMark__s8kU1 {
    font-family: Antonio;
    font-style: italic
}

.Quote_quotationMarkLeft__nCuXs {
    align-self: start;
    transform: translateY(-1.8rem)
}

.Quote_quotationMarkRight__eWlPu {
    align-self: end;
    transform: translateY(2rem) translateX(-.5rem)
}

.Quote_quoteText__vvXmd {
    font-style: italic;
    margin: 0
}

.Quote_author__49Evt {
    align-self: end
}

.Banner_banner__SW9dN {
    background-color: #1e6085;
    box-shadow: 5px 5px 50px #3c88b4
}

@media(min-width: 38rem) {
    .Banner_banner__SW9dN {
        display:flex;
        flex-direction: row
    }
}

.Banner_socialMedia__HJ67Q {
    align-self: end;
    margin-bottom: 3rem;
    margin-left: 1rem
}

.Banner_mainContent__wDnSD {
    grid-column-gap: 1rem;
    column-gap: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    overflow-x: hidden;
    padding: 1rem;
    width: 100%
}

@media(min-width: 38rem) {
    .Banner_mainContent__wDnSD {
        column-gap:3rem;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        padding: 3rem;
        row-gap: 1rem
    }
}

@media(min-width: 70rem) {
    .Banner_mainContent__wDnSD {
        overflow-x:visible;
        padding: 6rem 6rem 3rem 0;
        row-gap: 3rem
    }
}

.Banner_portrait__Aplac {
    animation: Banner_moveRightPortrait__VZRM- 1s;
    border-radius: 50%;
    height: auto;
    width: 8rem
}

@media(min-width: 70rem) {
    .Banner_portrait__Aplac {
        animation:Banner_moveRightLargeScreenPortrait__qlnGJ 1s forwards;
        width: 18rem
    }
}

.Banner_firstHeadlineText__1tQWp,.Banner_headlineText__aq-Bu,.Banner_secondHeadlineText__Yc2hF,.Banner_thirdHeadlineText__pz7W2 {
    color: #b4d9ee;
    font-family: Antonio;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0
}

@media(min-width: 38rem) {
    .Banner_firstHeadlineText__1tQWp,.Banner_headlineText__aq-Bu,.Banner_secondHeadlineText__Yc2hF,.Banner_thirdHeadlineText__pz7W2 {
        font-size:2.8rem
    }
}

@media(min-width: 70rem) {
    .Banner_firstHeadlineText__1tQWp,.Banner_headlineText__aq-Bu,.Banner_secondHeadlineText__Yc2hF,.Banner_thirdHeadlineText__pz7W2 {
        font-size:4rem
    }
}

.Banner_firstHeadlineText__1tQWp {
    animation: Banner_moveLeft__O4WN0 1s;
    color: #fdfdf7;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: .1rem;
    margin-bottom: .5rem
}

.Banner_firstHeadlineText__1tQWp:first-letter {
    font-size: 1.6rem
}

@media(min-width: 38rem) {
    .Banner_firstHeadlineText__1tQWp {
        font-size:2.8rem
    }

    .Banner_firstHeadlineText__1tQWp:first-letter {
        font-size: 3.3rem
    }
}

@media(min-width: 70rem) {
    .Banner_firstHeadlineText__1tQWp {
        animation:Banner_moveLeftLargeScreen__J6BED 1s;
        font-size: 4rem
    }

    .Banner_firstHeadlineText__1tQWp:first-letter {
        font-size: 4.8rem
    }
}

.Banner_secondHeadlineText__Yc2hF {
    animation: Banner_moveRightHeadline__iRK25 1s forwards
}

@media(min-width: 70rem) {
    .Banner_secondHeadlineText__Yc2hF {
        animation:Banner_moveRightLargeScreenHeadline__6QAi3 1s forwards
    }
}

.Banner_thirdHeadlineText__pz7W2 {
    animation: Banner_moveLeft__O4WN0 1s
}

@media(min-width: 70rem) {
    .Banner_thirdHeadlineText__pz7W2 {
        animation:Banner_moveLeftLargeScreen__J6BED 1s
    }
}

.Banner_contactAndMyMotivationQuote__Jm84v {
    display: flex;
    flex-direction: column-reverse;
    grid-column: 1/3;
    grid-row-start: 2;
    margin-top: 1rem;
    row-gap: 1rem
}

@media(min-width: 38rem) {
    .Banner_contactAndMyMotivationQuote__Jm84v {
        row-gap:2rem
    }
}

@media(min-width: 70rem) {
    .Banner_contactAndMyMotivationQuote__Jm84v {
        align-items:end;
        flex-direction: row;
        grid-column-start: 2;
        justify-content: space-between;
        margin: 0;
        padding: 1rem 1rem 0 0
    }
}

.Banner_contactLinks__keqSF {
    align-items: center;
    column-gap: 1rem;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem
}

.Banner_contactMe__n4Ujg {
    background-color: #73216b;
    color: #fdfdf7;
    cursor: pointer;
    letter-spacing: .05rem;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 100%
}

@media(min-width: 70rem) {
    .Banner_contactMe__n4Ujg {
        font-size:1.5rem;
        font-weight: 600;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content
    }
}

@media(min-width: 38rem) {
    .Banner_myMotivationQuote__\+oWVQ {
        align-self:end;
        width: 25rem
    }
}

.Banner_myMotivationQuotationMarks__Db7f8,.Banner_myMotivationQuoteText__TJJPZ {
    color: #fdfdf7
}

@keyframes Banner_moveRightPortrait__VZRM- {
    0% {
        transform: translateX(-.8rem)
    }

    to {
        transform: translateX(0)
    }
}

@keyframes Banner_moveRightHeadline__iRK25 {
    0% {
        transform: translateX(-.2rem)
    }

    to {
        transform: translateX(1rem)
    }
}

@keyframes Banner_moveLeft__O4WN0 {
    0% {
        transform: translateX(2rem)
    }

    to {
        transform: translateX(0)
    }
}

@keyframes Banner_moveRightLargeScreenPortrait__qlnGJ {
    0% {
        transform: translateX(-5rem)
    }

    to {
        transform: translateX(0)
    }
}

@keyframes Banner_moveRightLargeScreenHeadline__6QAi3 {
    0% {
        transform: translateX(-3rem)
    }

    to {
        transform: translateX(2rem)
    }
}

@keyframes Banner_moveLeftLargeScreen__J6BED {
    0% {
        transform: translateX(3rem)
    }

    to {
        transform: translateX(0)
    }
}

.SocialMedia_socialMedia__w-XeR {
    align-items: center;
    column-gap: .5rem;
    display: flex;
    flex-direction: row
}

@media(min-width: 38rem) {
    .SocialMedia_socialMedia__w-XeR {
        column-gap:1rem
    }
}

@media(min-width: 70rem) {
    .SocialMedia_socialMedia__w-XeR {
        flex-direction:column;
        row-gap: 1rem
    }
}

.SocialMedia_link__jhnKt {
    padding-top: .188rem
}

@media(min-width: 70rem) {
    .SocialMedia_link__jhnKt {
        padding-top:0
    }
}

.SocialMedia_linkedInIcon__o2Ish {
    width: 2rem
}

.PageSection_title__ZsepP {
    font-family: Antonio;
    font-size: x-large;
    letter-spacing: .5rem;
    margin-top: 2rem;
    text-align: center
}

@media(min-width: 38rem) {
    .PageSection_title__ZsepP {
        font-size:xx-large
    }
}

.PageSection_titleWithSubtitle__XSn9h {
    margin-bottom: 0
}

.PageSection_subTitle__OqYru {
    display: block;
    font-size: medium;
    font-weight: 600;
    letter-spacing: .2rem;
    margin: 1rem 0;
    text-align: center
}

.Carousel_carousel__BwY5a {
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 1rem
}

.Modal_modal__Z1txi {
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000
}

.Modal_backdrop__ugE6W {
    background-color: #fdfdf7e6;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

.Modal_closeButton__xBV7V {
    align-self: end;
    cursor: pointer;
    margin-right: 1.5rem;
    margin-top: .4rem
}

.Modal_closeIcon__U8s45 {
    height: auto;
    width: 2.5rem
}

.Button_button__h2jic {
    background: none;
    border: none;
    color: #1e6085;
    cursor: pointer;
    outline: none;
    padding: 0
}

.Button_button__h2jic:hover {
    background: none;
    border: none;
    color: #3c88b4;
    outline: none
}

.CarouselContent_carouselContent__SmqME {
    align-items: center;
    display: flex;
    flex-direction: column
}

.CarouselContent_carousel__rST0i {
    align-items: center;
    display: flex;
    flex-direction: row
}

.CarouselContent_carouselItemsContainer__ja0kz {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory
}

.CarouselContent_carouselItemsContainer__ja0kz::-webkit-scrollbar {
    display: none
}

.CarouselContent_chevron__4nt-i {
    fill: #1e6085;
    height: auto;
    width: 4rem
}

.CarouselContent_chevron__4nt-i:hover {
    fill: #3c88b4
}

.CarouselContent_navigation__K3iIJ {
    column-gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.CarouselContent_navButton__Tk8jf {
    background-color: #fdfdf7;
    border: none;
    border-radius: 50%;
    height: .5rem;
    outline: 1px solid #b4d9ee;
    padding: 0;
    width: .5rem
}

@media(min-width: 38rem) {
    .CarouselContent_navButton__Tk8jf:hover {
        background-color:#1e6085;
        outline: none
    }
}

.CarouselContent_navButtonActive__4EQOb {
    background-color: #1e6085;
    outline: none
}

.CarouselContent_navButtonInactive__-41Ln {
    fill: #e1e1cb;
    cursor: default
}

.CarouselContent_navButtonInactive__-41Ln:hover {
    fill: #e1e1cb
}

.CarouselItem_carouselItem__k7Hjv {
    box-sizing: border-box;
    flex-shrink: 0;
    position: relative;
    scroll-snap-align: center
}

@media(min-width: 38rem) {
    .CarouselItem_zoomable__Ao0tb {
        cursor:pointer
    }
}

.AccordionItem_header__8tjBl {
    align-items: center;
    background-color: #f1f1df99;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

@media(min-width: 70rem) {
    .AccordionItem_header__8tjBl:hover {
        box-shadow:0 1px 4px #1e608580;
        font-weight: 600
    }
}

.AccordionItem_headerIsOpen__vvR-x {
    box-shadow: 0 1px 4px #1e608580;
    font-weight: 600
}

.AccordionItem_title__Ie7Uh {
    font-size: medium;
    letter-spacing: .2rem;
    padding: 1rem;
    text-transform: uppercase
}

.AccordionItem_chevronDown__ZmN6-,.AccordionItem_chevronUp__D5NMZ,.AccordionItem_chevron__Gvloc {
    fill: #1e6085;
    margin-right: .5rem;
    pointer-events: none
}

.AccordionItem_chevronUp__D5NMZ {
    flex-shrink: 0;
    transform: rotate(90deg);
    transition: transform .3s
}

.AccordionItem_chevronDown__ZmN6- {
    flex-shrink: 0;
    transform: rotate(-90deg);
    transition: transform .3s
}

.AccordionItem_content__c3TQJ {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #fdfdf733;
    overflow: hidden;
    transition: height .3s ease-in-out
}

.AccordionItem_contentIsOpen__0faud {
    transition: height .5s ease-in-out
}

.AccordionItem_childWrapper__xPOHk {
    padding: .5rem .5rem 1rem
}

.Challenge_challenge__Vq-mf {
    margin: .5rem
}

@media(min-width: 38rem) {
    .Challenge_challenge__Vq-mf {
        margin:1rem 0
    }
}

.Customer_aboutMeIcon__QD1aG {
    height: auto;
    width: 3rem
}

.Customer_detailedEntityIconListTitle__27lLF,.Customer_name__AGiq8,.Customer_projectDetailsTitle__GQfBw {
    font-size: medium;
    margin-bottom: .3rem
}

.Customer_detailedEntityIconListTitle__27lLF {
    letter-spacing: .04rem
}

.Customer_detailedEntityIconListIcon__1VWQB {
    color: #1e6085;
    height: auto;
    width: 3rem
}

.Customer_customer__uywlz {
    align-items: center;
    color: #1e6085;
    column-gap: 1rem;
    display: flex;
    flex-direction: row
}

.Customer_logo__2hSnE {
    height: 2.5rem;
    margin-left: 1rem
}

@media(min-width: 38rem) {
    .Customer_logo__2hSnE {
        height:3.4rem
    }
}

.Customer_noAdditionalInfo__p5iKg {
    margin: 0
}

.MyTasks_myTasks__6m87Q {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
    row-gap: 2rem
}

@media(min-width: 38rem) {
    .MyTasks_myTasks__6m87Q {
        column-gap:1rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 0
    }
}

.DetailedEntityIconList_aboutMeIcon__wI9d2 {
    height: auto;
    width: 3rem
}

.DetailedEntityIconList_detailedEntityIconListTitle__bgyJf,.DetailedEntityIconList_projectDetailsTitle__axdl8,.DetailedEntityIconList_title__1Ezen {
    font-size: medium;
    margin-bottom: .3rem
}

.DetailedEntityIconList_detailedEntityIconListTitle__bgyJf,.DetailedEntityIconList_title__1Ezen {
    letter-spacing: .04rem
}

.DetailedEntityIconList_detailedEntityIconListIcon__e\+xil {
    color: #1e6085;
    height: auto;
    width: 3rem
}

.DetailedEntityIconList_header__df4OC {
    align-items: center;
    column-gap: .3rem;
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem
}

.DetailedEntityIconList_title__1Ezen {
    margin: 0
}

.DetailedEntityIconList_highlightedEntry__EZ2EA {
    color: #73216b;
    font-weight: 600
}

.Task_aboutMeIcon__rfcD1 {
    height: auto;
    width: 3rem
}

.Task_detailedEntityIconListTitle__8FztY,.Task_projectDetailsTitle__HRPlc {
    font-size: medium;
    margin-bottom: .3rem
}

.Task_detailedEntityIconListTitle__8FztY {
    letter-spacing: .04rem
}

.Task_detailedEntityIconListIcon__3oMI9,.Task_icon__CNmsg {
    color: #1e6085;
    height: auto;
    width: 3rem
}

.Task_task__X4\+tc {
    color: #1e6085;
    display: flex;
    flex-direction: column
}

.Requirements_list__rAEaG {
    padding-left: 1.5rem
}

@media(min-width: 70rem) {
    .Requirements_list__rAEaG {
        padding-left:2.5rem
    }
}

.TechnologyCollection_aboutMeIcon__Mc\+eD {
    height: auto;
    width: 3rem
}

.TechnologyCollection_detailedEntityIconListTitle__xLFFZ,.TechnologyCollection_projectDetailsTitle__zIAoN {
    font-size: medium;
    margin-bottom: .3rem
}

.TechnologyCollection_detailedEntityIconListTitle__xLFFZ {
    letter-spacing: .04rem
}

.TechnologyCollection_detailedEntityIconListIcon__7N4bn,.TechnologyCollection_icon__3x6BD {
    color: #1e6085;
    height: auto;
    width: 3rem
}

.TechStack_techStack__s1CRq {
    color: #1e6085;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
    row-gap: 2rem
}

@media(min-width: 38rem) {
    .TechStack_techStack__s1CRq {
        grid-column-gap:2rem;
        column-gap: 2rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 0
    }
}

.Usage_list__eHrLc {
    padding-left: 1.5rem
}

@media(min-width: 70rem) {
    .Usage_list__eHrLc {
        padding-left:2.5rem
    }
}

.ProjectDetails_projectDetails__GysEy {
    align-items: center;
    display: flex;
    flex-direction: column
}

.ProjectDetails_tabstrip__HxR1f {
    justify-content: space-between;
    width: 46rem
}

.ProjectDetails_tabstripContent__-e8ct {
    align-self: center;
    padding-top: 1rem;
    width: 46rem
}

.Project_project__inph2 {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #e1e1cb33;
    display: flex;
    flex-direction: column;
    padding: 1rem
}

@media(min-width: 70rem) {
    .Project_project__inph2 {
        padding:2rem
    }
}

.Project_header__SqxbP {
    align-items: flex-start;
    display: flex;
    flex-direction: column-reverse;
    font-family: Antonio;
    row-gap: 1rem
}

@media(min-width: 38rem) {
    .Project_header__SqxbP {
        flex-direction:row;
        justify-content: space-between
    }
}

.Project_titleAndLink__UUWVi {
    align-items: center;
    column-gap: .5rem;
    display: flex;
    flex-direction: row
}

.Project_title__CCIrH {
    font-size: large;
    margin: 0
}

@media(min-width: 38rem) {
    .Project_title__CCIrH {
        font-size:x-large
    }
}

@media(min-width: 70rem) {
    .Project_title__CCIrH {
        font-size:xx-large;
        margin-top: 1rem
    }
}

.Project_openInNewIcon__6iKvp {
    fill: #1e6085
}

.Project_date__SBsug {
    align-self: flex-end;
    font-size: medium;
    font-weight: 600
}

@media(min-width: 38rem) {
    .Project_date__SBsug {
        align-self:auto;
        font-size: medium
    }
}

.Project_goal__IA-QT {
    font-size: medium;
    font-weight: 600
}

@media(min-width: 38rem) {
    .Project_goal__IA-QT {
        font-size:large
    }
}

.Project_images__wDE5n {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem
}

.Project_image__NmYx0 {
    height: auto;
    width: 100%
}

.Project_projectDetails__A\+muB {
    margin-top: 2rem
}

.ProjectList_projects__\+3MrY {
    display: flex;
    flex-direction: column;
    row-gap: 2rem
}

@media(min-width: 70rem) {
    .ProjectList_projects__\+3MrY {
        padding:0 2rem
    }
}

.ProjectList_loadingSpinner__P\+DNI {
    align-self: center
}

.LoadingSpinner_loadingSpinner__FW6o3 {
    animation: LoadingSpinner_rotation__iZhwZ 1s linear infinite;
    border-radius: 50%;
    border-right: 3px solid #0000;
    border-top: 3px solid #1e6085;
    box-sizing: border-box;
    display: inline-block;
    height: 3rem;
    width: 3rem
}

@keyframes LoadingSpinner_rotation__iZhwZ {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.SkillContent_skillContent__fpQdi {
    align-items: flex-start;
    color: #1e6085;
    display: flex;
    flex-direction: column;
    position: relative
}

@media(min-width: 70rem) {
    .SkillContent_skillContent__fpQdi {
        padding:0 1rem
    }
}

.SkillContent_description__K9oVP {
    padding: 1rem;
    position: relative;
    width: 100%
}

.SkillContent_description__K9oVP:after {
    border-bottom: 2px solid #1e6085;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 10%
}

.SkillContent_description__K9oVP:last-child:after {
    border: none
}

.SkillAccordion_aboutMeIcon__WTqfW {
    height: auto;
    width: 3rem
}

.SkillAccordion_detailedEntityIconListTitle__Gi\+-J,.SkillAccordion_projectDetailsTitle__RtG6D {
    font-size: medium;
    margin-bottom: .3rem
}

.SkillAccordion_detailedEntityIconListTitle__Gi\+-J {
    letter-spacing: .04rem
}

.SkillAccordion_detailedEntityIconListIcon__1vxD0 {
    color: #1e6085;
    height: auto;
    width: 3rem
}

.SkillAccordion_header__8CpYK {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #e1e1cb33
}

.SkillAccordion_title__FO3D1 {
    font-size: medium;
    font-weight: 600;
    letter-spacing: .3rem;
    text-transform: uppercase
}

@media(min-width: 38rem) {
    .SkillAccordion_title__FO3D1 {
        font-size:x-large;
        font-weight: 600;
        letter-spacing: .5rem
    }
}

.SkillAccordion_content__o28e0 {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #e1e1cb33
}

.SkillCard_aboutMeIcon__foRFx {
    height: auto;
    width: 3rem
}

.SkillCard_detailedEntityIconListTitle__58-J6,.SkillCard_projectDetailsTitle__V8C0d {
    font-size: medium;
    margin-bottom: .3rem
}

.SkillCard_detailedEntityIconListTitle__58-J6 {
    letter-spacing: .04rem
}

.SkillCard_detailedEntityIconListIcon__4yD2O {
    color: #1e6085;
    height: auto;
    width: 3rem
}

.SkillCard_skillCard__wOCrx {
    cursor: pointer;
    pointer-events: none;
    position: relative
}

@media(min-width: 70rem) {
    .SkillCard_skillCard__wOCrx {
        pointer-events:all
    }

    .SkillCard_skillCard__wOCrx:hover .SkillCard_topCard__YOeF3 {
        transform: translateY(0)
    }

    .SkillCard_skillCard__wOCrx:hover .SkillCard_bottomCard__pDYGI {
        border-bottom: 3px solid #1e6085;
        opacity: 1;
        transform: translateY(0)
    }
}

.SkillCard_topCard__YOeF3 {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #e1e1cb33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative
}

@media(min-width: 70rem) {
    .SkillCard_topCard__YOeF3 {
        height:13.5rem;
        transform: translateY(6.75rem);
        transition: .5s;
        z-index: 1
    }
}

.SkillCard_title__jADi2 {
    align-self: center;
    font-size: medium;
    letter-spacing: .3rem;
    margin: 0;
    padding: 1rem;
    text-transform: uppercase
}

@media(min-width: 38rem) {
    .SkillCard_title__jADi2 {
        font-size:x-large;
        font-weight: 600;
        letter-spacing: .5rem
    }
}

.SkillCard_bottomCard__pDYGI {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #e1e1cb33;
    opacity: 1
}

@media(min-width: 70rem) {
    .SkillCard_bottomCard__pDYGI {
        height:13.5rem;
        opacity: 0;
        transform: translateY(-6.75rem);
        transition: .5s
    }
}

.Skills_aboutMeIcon__cnxV8 {
    height: auto;
    width: 3rem
}

.Skills_detailedEntityIconListTitle__F7HZd,.Skills_projectDetailsTitle__J6Q-j {
    font-size: medium;
    margin-bottom: .3rem
}

.Skills_detailedEntityIconListTitle__F7HZd {
    letter-spacing: .04rem
}

.Skills_detailedEntityIconListIcon__-oAyo {
    color: #1e6085;
    height: auto;
    width: 3rem
}

.Skills_skills__WKT-Z {
    display: flex;
    flex-direction: column;
    row-gap: 1rem
}

@media(min-width: 70rem) {
    .Skills_skills__WKT-Z {
        grid-column-gap:2rem;
        align-items: stretch;
        column-gap: 2rem;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(3,1fr);
        padding: 0 2rem
    }
}

.Skills_skills__WKT-Z:hover {
    grid-auto-rows: auto
}

.Skills_title__RkPzj {
    font-size: medium;
    font-size: x-large;
    letter-spacing: .3rem;
    margin: 0;
    text-transform: uppercase
}

@media(min-width: 38rem) {
    .Skills_title__RkPzj {
        font-size:x-large;
        font-weight: 600;
        letter-spacing: .5rem
    }
}

.Skills_skillContentList__-8vPA {
    height: 0;
    opacity: 0;
    overflow: hidden
}

.Skills_description__Yfg2j {
    font-size: large;
    margin: 1rem 0 0
}

.Technologies_technologies__lJgkh {
    display: flex;
    flex-direction: column
}

@media(min-width: 70rem) {
    .Technologies_technologies__lJgkh {
        padding:0 2rem
    }
}

.Technologies_techStackList__Ihaew {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #e1e1cb33;
    padding: .7rem 2rem 2rem
}

@media(min-width: 38rem) {
    .Technologies_techStack__MP9XM {
        row-gap:2.5rem
    }
}

.Technologies_loadingSpinner__npJRq {
    align-self: center
}

.Testimonial_testimonial__xBl6Q {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #e1e1cb33;
    padding: 2.5rem 2rem 2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

@media(min-width: 70rem) {
    .Testimonial_testimonial__xBl6Q {
        padding:2.3rem 2rem 1.8rem
    }

    .Testimonial_testimonialText__lpzMK {
        width: 15rem
    }
}

.Testimonial_quoteFrom__QsVl3 {
    display: flex;
    flex-direction: column
}

.Testimonial_author__2wcH4 {
    margin-bottom: 0;
    margin-top: .8rem
}

.Testimonial_company__PWTkp {
    align-self: end;
    margin: 0
}

.Testimonials_testimonials__SejGO {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    row-gap: .5rem
}

@media(min-width: 45rem) {
    .Testimonials_testimonials__SejGO {
        column-gap:1rem;
        flex-direction: row;
        justify-content: space-between;
        padding: .5rem 2rem 2rem
    }
}

@media(min-width: 70rem) {
    .Testimonials_testimonials__SejGO {
        width:70rem
    }
}

.Page_backgroundWrapper__H4QUJ {
    position: relative
}

.Page_content__gHxpr {
    background-color: #fdfdf7
}

.Page_pageSections__1vkAU {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 1rem
}

.Page_pageSection__ORtYe {
    padding-top: .5rem;
    z-index: 1
}

@media(min-width: 38rem) {
    .Page_pageSection__ORtYe {
        max-width:70rem
    }
}

.Page_highlightedText__8h0U8 {
    color: #73216b
}

.PrivacyPolicy_privacyPolicy__2L4UX {
    color: #1e6085
}

.PrivacyPolicy_title__CdbM5 {
    font-family: Antonio;
    margin-bottom: 2rem;
    text-align: center
}

/*# sourceMappingURL=main.534119a2.css.map*/
