@use '../../../styles/mixins.scss';
@use '../../../styles/colors.module.scss';

.testimonial {
    width: fit-content;
    padding: 2.5rem 2rem 2rem 2rem;
    @include mixins.glassy();

    @include mixins.medium-screen {
        padding: 2.3rem 2rem 1.8rem 2rem;
    }
}

.testimonialText {
    @include mixins.medium-screen {
        width: 15rem;
    }
}

.quoteFrom {
    display: flex;
    flex-direction: column;
}

.author {
    margin-top: 0.8rem;
    margin-bottom: 0;
}

.company {
    margin: 0;
    align-self: end;
}