@use '../../styles/colors.module.scss';

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: colors.$footer-background-color;
    color: colors.$footer-font-color;
    padding: 0.5rem 0;
}