// $color-primary: #1260AD;
// $color-primary: #0B609D;
// $color-primary: #176087;
// $color-primary: #1f487e;
$color-primary: #1B6086;
$color-primary-light: #3782aa;

$color-neutral: #FFFFF3;
// $color-neutral: white;
$color-font: black;

$color-full-transparent: rgba(0, 0, 0, 0);