@mixin tabstrip-underline {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, $color-secondary 50%, $color-full-transparent);
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 0.2rem;
}