@use '../../styles/dimensions.module.scss' as dimens;
@use '../../styles/mixins.scss';

.header {
    position: static;
}

.content {
    position: relative;
    margin: 1rem;

    @include mixins.large-screen {
        margin: 1rem auto;
        width: dimens.$page-width;
    }
}