@use '../../styles/dimensions.module.scss' as dimens;
@use '../../styles/mixins.scss';

.simplePage {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header {
    position: static;
}

.content {
    position: relative;
    margin: 1rem;

    @include mixins.large-screen {
        margin: 1rem auto;
        width: dimens.$page-width;
    }
}