@use '../../styles/colors.module.scss';

.buyMeACoffeeLink {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    width: fit-content;
    padding: 0.4rem;
    text-decoration: none;

    // color: colors.$color-primary;
    // border: 2px solid colors.$color-primary;
    // border-radius: 3px;

    background-color: colors.$color-buy-me-a-coffee-background;
    color: colors.$color-buy-me-a-coffee-font;
    border-radius: 7px;
}

.icon {
    width: 2rem;
    height: auto;
    flex-shrink: 0;
    color: colors.$color-buy-me-a-coffee-icon;

    // color: colors.$color-primary;
}

.text {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    letter-spacing: 0.08rem;
}