@use '../styles/colors.module.scss';
@use '../styles/mixins.scss';

.content {
    background-color: colors.$color-page-content-background;
}

.pageSections {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageSection {
    padding-top: 0.5rem;

    @include mixins.medium-screen {
        width: 70rem;
    }
}

.highlightedText {
    color: colors.$color-page-highlighted-text;
}