@use '../../styles/colors.module.scss';
@use '../../styles/mixins.scss';

.product {
    display: flex;
    flex-direction: column;
    column-gap: 3rem;
    color: colors.$color-font;
    padding: 2rem;
    @include mixins.glassy;

    @include mixins.large-screen {
        flex-direction: row;
        align-items: start;
    }
}

.image {
    width: 25rem;
    height: auto;
}

.productInfo {
    display: flex;
    flex-direction: column;
    width: 25rem;

    @include mixins.medium-screen {
        width: auto;
    }
}

.title {
    letter-spacing: 0.2rem;
    font-family: "Antonio";
    margin-bottom: 0.5rem;

    @include mixins.large-screen {
        margin-top: 0;
    }
}

.coProducers {
    font-weight: 600;
}

.link {
    color: colors.$color-product-google-play-store-link;
    text-decoration: none;
    font-weight: 600;
}

.coProducerLink {
    @extend .link;
}

.description {
    margin-top: 1rem;
}

.googlePlayStoreLink {
    @extend .link;
    margin-top: 0.5rem;
}