@use '../../../../../styles/colors.module.scss';
@use '../../../../../styles/components.scss';

.role {
    display: flex;
    flex-direction: column;
    color: colors.$color-font;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
    column-gap: 0.3rem;
}

.icon {
    color: colors.$color-role-icon-fill;
    width: 3rem;
    height: auto;
}

.title {
    @extend .projectDetailsTitle;
    margin-top: 0;
    margin: 0;
}