@use '../../../../../styles/colors.module.scss';
@use '../../../../../styles/components.scss';

.role {
    display: flex;
    flex-direction: column;
    color: colors.$color-font;
}

.icon {
    @extend .detailedEntityIconListIcon
}