@use '../../styles/colors.module.scss';

.carousel {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.carouselContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carouselItemsContainer {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    // gap: 1.5rem;
}

.carouselItemsContainer::-webkit-scrollbar {
    display: none;
}

.chevron {
    width: 4rem;
    height: auto;
    fill: colors.$color-carousel-chevron;

    &:hover {
        fill: colors.$color-carousel-chevron-hover;
    }
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
}

.navButton {
    width: 1rem;
    height: 1rem;
    background-color: colors.$color-carousel-nav-button;
    outline: 1px solid colors.$color-carousel-nav-button-outline;
    border: none;

    &:hover {
        background-color: colors.$color-carousel-nav-button-hover;
    }
}

.navButtonActive {
    background-color: colors.$color-carousel-nav-button-hover;
}