.projectDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tabstrip {
    // width: 100%;
    width: 90%;
    // width: 60rem;
    // justify-content: space-around;
    // justify-content: space-between;
    justify-content: center;
    // justify-content: flex-start;
}

.tabstripContent{
    // width: 60rem;
    width: 90%;
}