.projectDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabstrip {
    justify-content: space-between;
    width: 40rem;
}

.tabstripContent {
    width: 40rem;
    align-self: center;
    padding-top: 1rem;
}