.projectDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tabstrip {
    width: 50rem;
    justify-content: space-between;
    // justify-content: flex-start;
}

.tabstripContent{
    width: 50rem;
}