@import '../../../styles/colors.module.scss';
@import '../../../styles/components.scss';

$font-weight: 500;
$font-weight-selected: 600;

.tabstripItem {
    position: relative;
    background-color: transparent;
    border:none;
    cursor: pointer;
}

.caption:hover {
    font-weight: $font-weight-selected;
}

.caption {
    color: $color-neutral;
    font-size: large;
    font-weight: $font-weight;
    text-transform: uppercase;
}

.selected {
    font-weight: $font-weight-selected;
    cursor: auto;
}

.selected::after {
    @include tabstrip-underline;
}