@use '../../../styles/colors.module.scss';
@use '../../../styles/components.scss' as comp;

$font-weight: 500;
$font-weight-selected: 600;

.tabstripItem {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.caption {
    color: colors.$color-font-light;
    font-size: large;
    font-weight: $font-weight;
    text-transform: uppercase;

    &:hover {
        font-weight: $font-weight-selected;
    }
}

.selected {
    font-weight: $font-weight-selected;
    cursor: auto;

    &::after {
        @include comp.tabstrip-underline;
    }
}