@use '../../../../styles/colors.module.scss';

.techStack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
    color: colors.$color-font;
}