@import '../../styles/mixins.scss';

.projectTimeline {}

.grid {
    display: grid;
    padding: 2rem;
    grid-template-columns: var(--left, 50%) var(--right, 50%);
    column-gap: 3rem;
    color: black;

    // &:hover {
    //     grid-template-columns: auto 50rem;
    //     background-color: blue;
    //     color: white;
    //     transition: all 2s;
    // }
}

.grid:has(.right:hover) {
    --right: 80%;
    // --right: 50rem;
    --left: 10%;
    transition: all 2s;
}

.project {
    padding: 3rem;
    height: 5rem;
    width: 5rem;
    @include glassy;
}