@use '../../styles/mixins.scss';

.aboutMe {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @include mixins.medium-screen {
        flex-direction: row;
        column-gap: 1rem;
    }
}