@import '../../styles/colors.module.scss';

.quote {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.quotationMark {
    font-family: "Antonio";
    color: $color-secondary;
    font-style: italic;
}

.quotationMarkLeft {
    @extend .quotationMark;
    align-self: start;
    transform: translateY(-1.8rem);
}

.quotationMarkRight {
    @extend .quotationMark;
    align-self: end;
    transform: translateY(2rem);
}

.aboutMeQuote {
    margin: 0;
    color: $color-secondary;
    font-style: italic;
}