@import './styles/colors.module.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "SourceSans3";
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "SourceSans3";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $color-font;
}

@font-face {
  font-family: "Antonio";
  src: url('./fonts/antonio/Antonio-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: "Antonio";
  src: url('./fonts/antonio/Antonio-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: "Antonio";
  src: url('./fonts/antonio/Antonio-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: "Antonio";
  src: url('./fonts/antonio/Antonio-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "SourceSans3";
  src: url('./fonts/sourceSans3/SourceSans3-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: "SourceSans3";
  src: url('./fonts/sourceSans3/SourceSans3-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SourceSans3";
  src: url('./fonts/sourceSans3/SourceSans3-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: "SourceSans3";
  src: url('./fonts/sourceSans3/SourceSans3-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SourceSans3";
  src: url('./fonts/sourceSans3/SourceSans3-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "SourceSans3";
  src: url('./fonts/sourceSans3/SourceSans3-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "SourceSans3";
  src: url('./fonts/sourceSans3/SourceSans3-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SourceSans3";
  src: url('./fonts/sourceSans3/SourceSans3-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: "SourceSans3";
  src: url('./fonts/sourceSans3/SourceSans3-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SourceSans3";
  src: url('./fonts/sourceSans3/SourceSans3-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "SourceSans3";
  src: url('./fonts/sourceSans3/SourceSans3-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SourceSans3";
  src: url('./fonts/sourceSans3/SourceSans3-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: "SourceSans3";
  src: url('./fonts/sourceSans3/SourceSans3-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "SourceSans3";
  src: url('./fonts/sourceSans3/SourceSans3-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: "SourceSans3";
  src: url('./fonts/sourceSans3/SourceSans3-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}