@use '../../../styles/mixins.scss';
@use '../../../styles/colors.module.scss';

.aboutMeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mixins.glassy;
    padding: 0.5rem 1rem 1rem 1rem;
    color: colors.$color-about-me-text;
}

.iconAndTitle {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    align-self: start;
}

.title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.content {
    align-self: start;
    font-weight: 600;
}